body {
  margin: 0;
  background: #0d1117;
  color: #c9d1d9;
  font-family: monospace;
}

header {
  padding: 10px;
  background: #161b22;
}

textarea {
  width: 100%;
  height: 60vh;
  background: #010409;
  color: #e6edf3;
  border: none;
  padding: 10px;
}

pre {
  height: 30vh;
  background: #161b22;
  margin: 0;
  padding: 10px;
  overflow: auto;
}
